.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(218, 218, 218);
    z-index: 100;
}

.left-section {
    /* background-color: lightcoral;
    width: 200px; */
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 23px;
    margin-left: 20px;
    margin-right: 20px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 450px;
    display: flex;
    align-items: center;
}

.search-bar {
    height: 36px;
    flex: 1;
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(198, 198, 198);
    border-radius: 2px;
    width: 0; 
    /* Above width make shrink the search bar */
}

.search-bar::placeholder {
    padding-left: 5px;
    font-size: 15px;
}

.search-image {
    height: 25px;
    padding-top: 5px;
}

.voice-search-image {
    height: 30px;
    padding-top: 5px;
}

.search-button {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(198, 198, 198);
    /* css shorthand property: 
    Instaed of line 72,73 and 74 we can have one below line: 
    border:  1px solid rgb(198, 198, 198);*/
    background-color: rgb(244, 244, 244);
    height: 40px;
    width: 65px;
    margin-left: -1px;
    margin-right: 10px;
}

.search-button,
.voice-search-button,
.create-button,
.youtube-apps-button,
.notification-info {
    position:relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.create-button .tooltip,
.youtube-apps-button .tooltip,
.notification-info .tooltip{
    position: absolute;
    background-color: rgb(117, 117, 117);
    color: white;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    bottom: -30px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover  .tooltip,
.voice-search-button:hover .tooltip,
.create-button:hover .tooltip,
.youtube-apps-button:hover .tooltip,
.notification-info:hover .tooltip {
    opacity: 1;
}
.voice-search-button {
    border-width: 1px;
    border: none;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

.right-section {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 18px;
    flex-shrink: 0;
    /* Above flex property does not shrink the elements inside the div */
}

.upload-image {
    height: 25px;
}

.youtube-apps-image {
    height: 25px;
}

.notifications-image {
    height: 25px;
}

.my-channel-image {
    height: 32px;
}

.notification-info{
    position: relative;
}

.notifications-number{
    background-color: rgb(197, 0, 0);
    color: white;
    position: absolute;
    top: -2px;
    right:-2px;
    font-size: 12px;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}