.header {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    /* background-color: lightcoral;
    width: 200px; */
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 23px;
    margin-left: 20px;
    margin-right: 20px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 450px;
    display: flex;
    align-items: center;
}

.search-bar {
    height: 36px;
    flex: 1;
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(198, 198, 198);
    border-radius: 2px;
    width: 0; 
    /* Above width make shrink the search bar */
}

.search-bar::placeholder {
    padding-left: 5px;
    font-size: 15px;
}

.search-image {
    height: 25px;
    padding-top: 5px;
}

.voice-search-image {
    height: 30px;
    padding-top: 5px;
}

.search-button {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(198, 198, 198);
    background-color: rgb(244, 244, 244);
    height: 40px;
    width: 65px;
    margin-left: -1px;
    margin-right: 10px;
}

.voice-search-button {
    border-width: 1px;
    border: none;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

.right-section {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 18px;
    flex-shrink: 0;
    /* Above flex property does not shrink the elements inside the div */
}

.upload-image {
    height: 25px;
}

.youtube-apps-image {
    height: 25px;
}

.notifications-image {
    height: 25px;
}

.my-channel-image {
    height: 32px;
}